extend ../templates/template.pug
block index 
    header
        include ../components/header
    main 
        include ../components/main
    footer
        include ../components/footer
        
    script(src='assets/js/scripts-min.js')