section#contact.section.bg-dark.vh-100.d-flex.justify-content.align-items-center
  .container.py-5
    .row.text-center.pb-5
      h3.cta-title.text-white Get in Touch with me
    .row
      .col-12.col-md-6
        .text-center.pe-3
          p.cta-text.text-muted.mt-3.text-decoration-none
            | &quot;If you are not on the Internet, you are not visible&quot;. Different people and companies bet on the creation of profiles and web pages with the intention of making their personal brand visible. I am a web designer and developer. If you want to impose yourself in the market contact me through the different social networks.
          ul.fa-2x.text-light.ps-0.text-decoration-none
            a.text-decoration-none.text-muted(href='https://twitter.com/Saucedoinfo' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-twitter
            a.text-decoration-none.text-muted(href='https://github.com/saucedoinfo' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-github
            a.text-decoration-none.text-muted(href='https://www.facebook.com/saucedo.info' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-facebook
            a.text-decoration-none.text-muted(href='https://www.instagram.com/saucedo.info/' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-instagram
            a.text-decoration-none.text-muted(href='https://dribbble.com/saucedoinfo' target='_blank')
              i.my-4.ms-2.fab.fa-dribbble
      .col-12.col-md-6
        .text-center.ps-3
          .my-2
            input#exampleFormControlInput1.form-control.col-12.mb-4(type='text' placeholder='Your Full Name')
          .my-2
            input#exampleFormControlInput2.form-control.col-12.mb-4(type='email' placeholder='Email address')
          .my-2
            textarea#exampleFormControlTextarea1.form-control.col-12.mb-4(rows='9' placeholder='Message')
          .my-2.d-grid.gap-2
            button.btn.btn-outline-warning(type='submit') Send
  