section#contact.section.bg-dark
  .container.py-5
    .row
      .col-8.offset-2
        .text-center
          h3.cta-title.text-white Get in Touch with me
          p.cta-text.text-muted.mt-3.text-decoration-none
            | &quot;If you are not on the Internet, you are not visible&quot;. Different people and companies bet on the creation of profiles and web pages with the intention of making their personal brand visible. I am a web designer and developer. If you want to impose yourself in the market contact me through the different social networks.
          ul.fa-2x.my-4.text-light.ps-0.text-decoration-none.mt-4.my-4
            a.text-decoration-none.text-muted(href='https://twitter.com/Saucedoinfo' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-twitter
            a.text-decoration-none.text-muted(href='https://github.com/saucedoinfo' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-github
            a.text-decoration-none.text-muted(href='https://www.facebook.com/saucedo.info' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-facebook
            a.text-decoration-none.text-muted(href='https://www.instagram.com/saucedo.info/' target='_blank')
              i.my-4.me-2.ms-2.fab.fa-instagram
            a.text-decoration-none.text-muted(href='https://dribbble.com/saucedoinfo' target='_blank')
              i.my-4.ms-2.fab.fa-dribbble