// Tool https://formspree.io/

form#form.text-center.ps-3.form(action="https://formspree.io/f/xoqyjgrk"  method="POST" )
  .my-2
    input#name.form-control.col-12.mb-4(name='name' required='' type='text' placeholder='Your Full Name')
  .my-2
    input#email.form-control.col-12.mb-4(name='email'  type='email' placeholder='Email address')
  .my-2
    textarea#message.form-control.col-12.mb-4(name='message' rows='9' placeholder='Message')
  .my-2.d-grid.gap-2
    button.btn.btn-warning(type='submit') Send



