block hero
section#hero.hero.bg-light.vh-100.d-flex.align-items-center
  .container
    .row
      .col-md-12.col-lg-5.offset-lg-1.order-1.order-lg-1
        .hero-image.h-100.d-flex.flex-column.justify-content-center
          img.rounded-circle.img-fluid.mx-auto.d-block(src='assets/images/perfil.jpg')
      .col-md-12.col-lg-6.order-2.order-lg-2.mt-0.mt-lg-0.py-4.pt-lg-0
        .hero-content
          h2.text-dark.fw-bold.inline-block.position-relative
            | &#x1F44B;Hi!
          h1.hero-title.text-dark.my-4 I&apos;m Fernando Saucedo.
          p.d-none.d-sm-none.d-md-block
            | Frontend Developer. &#x1F680;
          ul.fa-2x.my-4.text-dark.ps-0.text-decoration-none
            a.text-decoration-none.text-dark(href='https://twitter.com/Saucedoinfo' target='_blank')
              i.me-2.fab.fa-twitter
            a.text-decoration-none.text-dark(href='https://github.com/saucedoinfo' target='_blank')
              i.me-2.ms-2.fab.fa-github
            a.text-decoration-none.text-dark(href='https://www.facebook.com/saucedo.info' target='_blank')
              i.me-2.ms-2.fab.fa-facebook
            a.text-decoration-none.text-dark(href='https://www.instagram.com/saucedo.info/' target='_blank')
              i.me-2.ms-2.fab.fa-instagram
            a.text-decoration-none.text-dark(href='https://dribbble.com/saucedoinfo' target='_blank')
              i.ms-2.fab.fa-dribbble
          div
            a.btn.btn-warning.shadow-sm.fw-bold.me-2(href='#work') Portfolio
            a.btn.btn-outline-dark.fw-bold.ms-2(href='#contact') Say hi!