section#services.services.section.section-bg
  .container.py-5
    .row
      .col
        .section-head.text-center.mx-auto.narrow
          span.pre-title.small.position-relative.fw-bold.text-dark.text-uppercase Services
          h2.section-title.text-dark.mt-3 What I Do
          p.section-subtitle.mt-3.mb-0
            | Dedicated to the planning, design and layout of web pages with the main objective of offering the customer the service they demand.
    .row
      #design.col-12.col-md-6.col-lg-6
        .service-box.text-center.mt-5
          i.fas.fa-layer-group.fa-4x.text-dark
          h3.service-box-title.text-dark.mt-4.text-uppercase
            | Design
          p.service-box-text.mt-3.mb-0
            | Adobe XD, Figma.
      #development.col-12.col-md-6.col-lg-6
        .service-box.text-center.mt-5
          i.fas.fa-laptop-code.fa-4x.text-dark
          h3.service-box-title.text-dark.mt-4.text-uppercase
            | Development
          p.service-box-text.mt-3.mb-0
            | Html, Css, Gulp, Bootstrap.