block work  
    section#work.portfolio.bg-white.min-vh-100.section.bg-dark
      .container-fluid.pt-5
        .row
          .col
            .section-head.text-center.mx-auto.narrow
              span.pre-title.small.position-relative.fw-bold.text-dark.text-uppercase.text-muted Work
              h2.section-title.text-white.mt-3 Portfolio
              p.section-subtitle.mt-3.mb-0.text-muted
                | Valuable content for companies and entrepreneurs. Modern design and development.
        .row.mt-5
          // Portfolio Item Start
          .col-12.col-sm-6.col-md-6.col-lg-4.px-0
            .portfolio-item.position-relative.overflow-hidden
              img.portfolio-item-img.img-fluid.w-100(src='assets/images/portfolio/portfolio-platzi.jpg')
              .portfolio-item-content.position-absolute.rounded.text-center
                .position-absolute.top-50.start-50.translate-middle
                  h3.project-title.text-white Platzi Conf Japon
                  span.project-type.text-uppercase.text-white.small Development
                  ul.fa-2x.my-4.text-light.ps-0.text-decoration-none
                    i.me-2.fab.fa-html5
                    i.me-2.fab.fa-bootstrap
                  a.btn.btn-outline-warning.fw-bold(href='https://saucedoinfo.github.io/curso_de_bootstrap_2018_platzi/assets/pages/proyecto_final.html' target='_blank') Link
          // Portfolio Item End
          // Portfolio Item Start
          .col-12.col-sm-6.col-md-6.col-lg-4.px-0
            .portfolio-item.position-relative.overflow-hidden
              img.portfolio-item-img.img-fluid.w-100(src='assets/images/portfolio/portfolio-ctastes.jpg')
              .portfolio-item-content.position-absolute.rounded.text-center
                .position-absolute.top-50.start-50.translate-middle
                  h3.project-title.text-white Ctasctes
                  span.project-type.text-uppercase.text-white.small Development
                  ul.fa-2x.my-4.text-light.ps-0.text-decoration-none
                    i.me-2.fab.fa-bootstrap
                    i.me-2.fab.fa-vuejs
                    i.me-2.fab.fa-php
                  a.btn.btn-outline-warning.fw-bold(href='https://democtacte.gk-code.com.ar/home' target='_blank') Link
          // Portfolio Item End
          // Portfolio Item Start
          .col-12.col-sm-6.col-md-6.col-lg-4.px-0
            .portfolio-item.position-relative.overflow-hidden
              img.portfolio-item-img.img-fluid.w-100(src='assets/images/portfolio/dedicarte.jpg')
              .portfolio-item-content.position-absolute.rounded.text-center
                .position-absolute.top-50.start-50.translate-middle
                  h3.project-title.text-white Dedicarte.ar
                  span.project-type.text-uppercase.text-white.small Design &amp; Development
                  ul.fa-2x.my-4.text-light.ps-0.text-decoration-none
                    i.me-2.fab.fa-html5
                    i.me-2.fab.fa-css3-alt
                  a.btn.btn-outline-warning.fw-bold(href='https://www.dedicarte.ar/' target='_blank') Link
          // Portfolio Item End