nav#primary-navbar.primary-nav.navbar.navbar-expand-lg.navbar-light.bg-white.fixed-top.font-lato
  .container.px-4.px-sm-0
    a.navbar-brand(href='#')
      img(src='')
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ms-auto
        li.nav-item
          a.nav-link(aria-current='page' href='#hero') Home
        li.nav-item
          a.nav-link(href='#work') Work
        li.nav-item
          a.nav-link(href='#services') Services
        li.nav-item
          a.nav-link(href='#contact') Contact
    button#open-sidenav.open-sidenav.bg-transparent.border-0.ms-2
      svg.feather.feather-menu(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewbox='0 0 24 24' fill='none' stroke='#2c333a' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        line(x1='3' y1='12' x2='21' y2='12')
        line(x1='3' y1='6' x2='21' y2='6')
        line(x1='3' y1='18' x2='21' y2='18')