section#sidenav-wrap
  span.sidenav-backdrop
  #sidenav.sidenav.font-lato.bg-dark.px-4
    a#close-sidenav.close-sidenav.text-decoration-none.text-white(href='#') &times;
    .sidenav-logo.mt-5.pt-5
      a(href='#')
        img.rounded-circle(src='assets/images/perfil.jpg')
    .sidenav-menu.mt-5
      ul.nav.flex-column
        li.nav-item
          a.nav-link.px-0.active(aria-current='page' href='#hero') Home
        li.nav-item
          a.nav-link.px-0(href='#work') Work
        li.nav-item
          a.nav-link.px-0(href='#services') Services
        li.nav-item
          a.nav-link.px-0(href='#contact') Contact
    hr.text-light
    .sidenav-social.mt-2
      ul.list-unstyled
        a.text-decoration-none.text-light(href='https://twitter.com/Saucedoinfo' target='_blank')
          i.me-2.fab.fa-twitter
        a.text-decoration-none.text-light(href='https://github.com/saucedoinfo' target='_blank')
          i.me-2.fab.fa-github
        a.text-decoration-none.text-light(href='https://www.facebook.com/saucedo.info' target='_blank')
          i.me-2.fab.fa-facebook
        a.text-decoration-none.text-light(href='https://www.instagram.com/saucedo.info/' target='_blank')
          i.me-2.fab.fa-instagram
        a.text-decoration-none.text-light(href='https://dribbble.com/saucedoinfo' target='_blank')
          i.fab.fa-dribbble
