section.footer.bg-dark.text-muted
  .container
    .row.footer-credits.text-center.py-3
      .col-12.col-md-12
        .footer-copy.float-md-none.float-lg-none
          p.mb-0.small
            | &copy; 2021
            a.text-decoration-none(href='https://twitter.com/Saucedoinfo')  Fernando Saucedo
            | .
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;All Rights Reserved
      .col-12.col-md-12.text-center.text-light.mt-3.py-3
        h3
          a(href='https://en.wikipedia.org/wiki/Carpe_diem') &#x1F4AA; Carpe diem