doctype
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        title &#x1F44B; Hi!, I&apos;m Fer Saucedo
        link(rel='icon' href='assets/images/avatar.png' sizes='32x32')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap' rel='stylesheet')
        link(href='assets/css/styles-min.css' rel='stylesheet')
    body(data-bs-spy="scroll" data-target="#navbar" data-offset="300px")
        block index

